.bg {
  text-align: center;
}

body {
  background-image: url("image1.jpg");
  /* background-color: #1384e8; */
}
.para {
  width: 350px;
  height: 100px;
  position: absolute;
  top: 15%;
  right: 10%;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  color: rgb(0, 255, 34);
}

label {
  color: blue;
  font-weight: bold;
  font-size: 20px;
  margin-left: 50px;
}
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  padding-top: 10px;
  color: rgb(0, 255, 34);
}

h3 {
  text-align: center;
  color: blue;
  font-size: 20px;
}
input {
  margin-left: 20px;
}
.c {
  margin-left: 31px;
}

.move {
  width: 350px;
  height: 330px;
  position: absolute;
  bottom: 20%;
  right: 10%;
  color: #35f0e9;
  background-color: #35f0e9;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  margin-left: 50px;
}
button:hover {
  opacity: 0.8;
}
